.color-prim{
    color:$color-primary;
}
.color-prim-bg{
    background:$color-primary;
}
.color-prim2{
    color:$color-primary2;
}
.color-prim2-bg{
    background:$color-primary2;
}
.color-second{
    color:$color-secondary;
}